body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}
.container-result {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header-BCN {
    text-align: center;
    margin-bottom: 20px;
}
.table-container {
    text-align: center;
}
.div-text-container {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.padding-tr {
    padding-right: 15px;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
a:hover {
    color: #666;
}